<div class="layer cells">
  <div class="row" *ngFor="let row of cells; index as i">
    <div
    *ngFor="let cell of row; index as j"
    class="cell"
    [ngClass]="{
      host: cell.state === CellState.HostPlayer,
      joined: cell.state === CellState.JoinedPlayer
    }">
      <span *ngIf="cell.state !== CellState.Free">{{ getPlayerInitial(cell.state) }}</span>
    </div>
  </div>
</div>
<div class="layer vlines">
  <div class="row" *ngFor="let row of vLines; index as i">
    <div
    *ngFor="let line of row; index as j"
    class="vline"
    [ngClass]="{ drawn: line.state, highlight: highlightAllowed && highlightVLine && highlightVLine[0] === i && highlightVLine[1] === j }"
    (click)="onLineClick('v', [i, j])"
    (mouseenter)="onLineMouseEnter('v', [i, j])"
    (mouseleave)="onLineMouseLeave('v', [i, j])">
    </div>
  </div>
</div>
<div class="layer hlines">
  <div class="row" *ngFor="let row of hLines; index as i">
    <div
    *ngFor="let line of row; index as j"
    class="hline"
    [ngClass]="{ drawn: line.state, highlight: highlightAllowed && highlightHLine && highlightHLine[0] === i && highlightHLine[1] === j }"
    (click)="onLineClick('h', [i, j])"
    (mouseenter)="onLineMouseEnter('h', [i, j])"
    (mouseleave)="onLineMouseLeave('h', [i, j])">
    </div>
  </div>
</div>
<div class="layer dots">
  <div class="row" *ngFor="let row of dots">
    <div class="dot" *ngFor="let dot of row" [ngClass]="{
      drawn: dot.state,
      hover: dot.hover,
      highlight: highlightAllowed && dot.highlight
    }"></div>
  </div>
</div>