$palette: (
  gray-transparent: rgba(0 0 0 / 35%),
  gray-darker: #232323,
  gray-dark: #292929,
  gray-medium: #343434,
  gray-light: #545454,
  gray-lighter: #C2C2C2,
  gray-lightest: #FFFFFF,
  accent-red: #EC3535,
  accent-blue: #1BA1ED,
  accent-green: #29CD9A,
  accent-yellow: #FFC90A
)