@import '../styles/utils';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 100vh;
}

span.status {
  font-size: rem(14px);
  position: fixed;
  bottom: rem(20px);
  left: rem(20px);

  &.dim { color: color(gray-light); }
  &.green { color: color(accent-green); }
  &.yellow { color: color(accent-yellow); }
  &.red { color: color(accent-red); }
}