<main>
  <app-dialog
  *ngIf="gameProgress === GameProgress.NotStarted"
  [disabled]="working"
  title="Connect To Player"
  submitLabel="Connect"
  [type]="DialogType.Connect"
  [id]="id"
  (onSubmit)="onDialogSubmit($event)"></app-dialog>
  <app-dialog
  *ngIf="gameProgress === GameProgress.AwaitingPlayers && awaitingInput"
  [title]="connectionStatus === ConnectionStatus.Joined ? 'Join Game' : 'New Game'"
  [submitLabel]="connectionStatus === ConnectionStatus.Joined ? 'Join' : 'Create'"
  [type]="connectionStatus === ConnectionStatus.Joined ? DialogType.JoinGame : DialogType.NewGame"
  (onSubmit)="onDialogSubmit($event)"></app-dialog>
  <span
  *ngIf="gameProgress === GameProgress.AwaitingPlayers && ! awaitingInput"
  class="text-dimmed">
    Waiting for other player...
  </span>
  <ng-container *ngIf="[GameProgress.InProgress, GameProgress.Finished].includes(gameProgress) && gameState">
    <app-scoreboard
    [hostName]="gameState.players.host?.name"
    [joinedName]="gameState.players.joined?.name"
    [hostScore]="gameState.players.host?.score"
    [joinedScore]="gameState.players.joined?.score"
    [currentTurn]="gameState.currentTurn"
    [displayNewGame]="gameProgress === GameProgress.Finished && isPlayerHost()"
    [winner]="gameProgress === GameProgress.Finished ? getWinner() : undefined"
    (onNewGame)="onNewGameClicked()">
    </app-scoreboard>
    <app-board
    [cells]="gameState.board.cells"
    [vLines]="gameState.board.vLines"
    [hLines]="gameState.board.hLines"
    [hostName]="gameState.players.host?.name"
    [joinedName]="gameState.players.joined?.name"
    [canPlay]="(isPlayerHost() && gameState.currentTurn === PlayerTurn.Host) || (! isPlayerHost() && gameState.currentTurn === PlayerTurn.Joined)"
    (onLineClicked)="drawLine($event)">
    </app-board>
  </ng-container>
</main>
<span
class="status"
[ngClass]="{
  dim: connectionStatus === ConnectionStatus.NotConnected,
  yellow: connectionStatus === ConnectionStatus.Reconnecting,
  green: [ConnectionStatus.Connected, ConnectionStatus.Joined].includes(connectionStatus),
  red: connectionStatus === ConnectionStatus.Disconnected
}">
  {{ connectionStatus }}
</span>