<main>
  <app-dialog
  *ngIf="gameProgress === GameProgress.NotStarted"
  [disabled]="working"
  title="Connect To Player"
  submitLabel="Connect"
  [type]="DialogType.Connect"
  [id]="id"
  (onSubmit)="onDialogSubmit($event)"></app-dialog>
  <app-dialog
  *ngIf="gameProgress === GameProgress.AwaitingPlayers && awaitingInput"
  [title]="connectionStatus === ConnectionStatus.Joined ? 'Join Game' : 'New Game'"
  [submitLabel]="connectionStatus === ConnectionStatus.Joined ? 'Join' : 'Create'"
  [type]="connectionStatus === ConnectionStatus.Joined ? DialogType.JoinGame : DialogType.NewGame"
  (onSubmit)="onDialogSubmit($event)"></app-dialog>
  <span
  *ngIf="gameProgress === GameProgress.AwaitingPlayers && ! awaitingInput"
  class="text-dimmed">
    Waiting for other player...
  </span>
</main>
<span
class="status"
[ngClass]="{
  dim: connectionStatus === ConnectionStatus.NotConnected,
  yellow: connectionStatus === ConnectionStatus.Reconnecting,
  green: [ConnectionStatus.Connected, ConnectionStatus.Joined].includes(connectionStatus),
  red: connectionStatus === ConnectionStatus.Disconnected
}">
  {{ connectionStatus }}
</span>