<main>
  <div
  class="chat-toggle"
  [ngClass]="{ open: chatOpened, shake: notificationShake }"
  *ngIf="isChatEnabled()"
  (click)="toggleChat()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
      <path d="M64 0C28.7 0 0 28.7 0 64V256c0 35.3 28.7 64 64 64H96v48c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L202.7 320H352c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM352 352H256v32c0 35.3 28.7 64 64 64H437.3l81.1 60.8c4.8 3.6 11.3 4.2 16.8 1.5s8.8-8.2 8.8-14.3V448h32c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H448V256c0 53-43 96-96 96z"/>
    </svg>
    <div
    *ngIf="unreadChat > 0"
    class="unread-count">
      {{ Math.min(unreadChat, 99) }}
    </div>
  </div>
  <app-dialog
  *ngIf="gameProgress === GameProgress.NotStarted"
  [disabled]="working"
  title="Connect To Player"
  submitLabel="Connect"
  [type]="DialogType.Connect"
  [id]="id"
  (onSubmit)="onDialogSubmit($event)"></app-dialog>
  <app-dialog
  *ngIf="gameProgress === GameProgress.AwaitingPlayers && awaitingInput"
  [title]="connectionStatus === ConnectionStatus.Joined ? 'Join Game' : 'New Game'"
  [submitLabel]="connectionStatus === ConnectionStatus.Joined ? 'Join' : 'Create'"
  [type]="connectionStatus === ConnectionStatus.Joined ? DialogType.JoinGame : DialogType.NewGame"
  (onSubmit)="onDialogSubmit($event)"></app-dialog>
  <span
  *ngIf="gameProgress === GameProgress.AwaitingPlayers && ! awaitingInput"
  class="text-dimmed">
    Waiting for other player...
  </span>
  <ng-container *ngIf="[GameProgress.InProgress, GameProgress.Finished].includes(gameProgress) && gameState">
    <app-scoreboard
    [hostName]="gameState.players.host?.name"
    [joinedName]="gameState.players.joined?.name"
    [hostScore]="gameState.players.host?.score"
    [joinedScore]="gameState.players.joined?.score"
    [currentTurn]="gameState.currentTurn"
    [displayNewGame]="gameProgress === GameProgress.Finished && isPlayerHost()"
    [matchResult]="gameProgress === GameProgress.Finished ? getMatchResult() : undefined"
    (onNewGame)="onNewGameClicked()">
    </app-scoreboard>
    <app-board
    [cells]="gameState.board.cells"
    [vLines]="gameState.board.vLines"
    [hLines]="gameState.board.hLines"
    [hostName]="gameState.players.host?.name"
    [joinedName]="gameState.players.joined?.name"
    [canPlay]="(isPlayerHost() && gameState.currentTurn === PlayerTurn.Host) || (! isPlayerHost() && gameState.currentTurn === PlayerTurn.Joined)"
    [highlightHLine]="highlightHLine"
    [highlightVLine]="highlightVLine"
    (onLineClicked)="drawLine($event)"
    (onDisabledClick)="disabledLineDraw($event)">
    </app-board>
  </ng-container>
  <div class="status-bar">
    <span
    class="status"
    [ngClass]="{
      dim: connectionStatus === ConnectionStatus.NotConnected,
      yellow: connectionStatus === ConnectionStatus.Reconnecting,
      green: [ConnectionStatus.Connected, ConnectionStatus.Joined].includes(connectionStatus),
      red: connectionStatus === ConnectionStatus.Disconnected
    }">
      {{ connectionStatus }}
    </span>
    <span class="version">Version {{ appVersion }}</span>
  </div>
</main>
<app-chat
[open]="chatOpened"
[names]="{ host: gameState?.players?.host?.name, joined: gameState?.players?.joined?.name }">
</app-chat>