@import './styles/utils';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: color(gray-darker);
  font-family: 'Rubik', sans-serif;
  color: color(gray-lighter);
  min-height: 100vh;
}

.text-dimmed {
  color: color(gray-light);
}