<header>
  <span>{{ title }}</span>
</header>
<section *ngIf="type === DialogType.Connect">
  <div class="form-control">
    <label for="peerId">Peer ID</label>
    <input
    #peerId
    class="uppercase"
    type="text"
    name="peerId"
    placeholder="Peer ID of other player..."
    maxlength="6"
    (keyup)="checkSubmitState(peerId.value)"
    [disabled]="disabled">
  </div>
</section>
<section *ngIf="type !== DialogType.Connect">
  <div class="form-control">
    <label for="displayName">Display Name</label>
    <input
    #displayName
    type="text"
    name="displayName"
    placeholder="Your display name..."
    maxlength="32"
    [value]="defaultName"
    (keyup)="checkSubmitState(displayName.value)"
    [disabled]="disabled">
  </div>
  <ng-container *ngIf="type === DialogType.NewGame">
    <div class="form-control small">
      <label for="gameSize">Game Size</label>
      <select #gameSize name="gameSize">
        <option [value]="GameSize.Test" [selected]="defaultGameSize === GameSize.Test">Test (2x2)</option>
        <option [value]="GameSize.Small" [selected]="defaultGameSize === GameSize.Small">Small (6x6)</option>
        <option [value]="GameSize.Medium" [selected]="defaultGameSize === GameSize.Medium">Medium (8x8)</option>
        <option [value]="GameSize.Large" [selected]="defaultGameSize === GameSize.Large">Large (10x10)</option>
        <option [value]="GameSize.Huge" [selected]="defaultGameSize === GameSize.Huge">Huge (12x12)</option>
      </select>
    </div>
  </ng-container>
</section>
<footer [ngClass]="{ 'with-label': type === DialogType.Connect }">
  <div class="id-label" *ngIf="type === DialogType.Connect && id">
    <span>Your ID</span>
    <span class="id">{{ id }}</span>
  </div>
  <button [disabled]="submitDisabled || disabled" (click)="submit()">{{ submitLabel }}</button>
</footer>