<header>
  <span>{{ title }}</span>
</header>
<section *ngIf="type === DialogType.Connect">
  <div class="form-control">
    <label for="peerId">Peer ID</label>
    <input
    #peerId
    class="uppercase"
    type="text"
    name="peerId"
    placeholder="Peer ID of other player..."
    maxlength="6"
    (keyup)="checkSubmitState(peerId.value, $event)"
    [disabled]="disabled">
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</section>
<section *ngIf="type !== DialogType.Connect">
  <div class="form-control">
    <label for="displayName">Display Name</label>
    <input
    #displayName
    type="text"
    name="displayName"
    placeholder="Your display name..."
    maxlength="32"
    [value]="defaultName"
    (keyup)="checkSubmitState(displayName.value, $event)"
    [disabled]="disabled">
  </div>
  <ng-container *ngIf="type === DialogType.NewGame">
    <div class="form-control small">
      <label for="gameSize">Game Size</label>
      <select #gameSize name="gameSize">
        <ng-container *ngFor="let key of GameSizeKeys">
          <option
          *ngIf="getGameSizeVisibility(GameSize[key])"
          [value]="GameSize[key]"
          [selected]="defaultGameSize === GameSize[key]">
            {{ key }} ({{ GameBoardSize[GameSize[key]] }}x{{ GameBoardSize[GameSize[key]] }})
          </option>
        </ng-container>
      </select>
    </div>
  </ng-container>
</section>
<footer [ngClass]="{ 'with-label': type === DialogType.Connect }">
  <div class="id-label" *ngIf="type === DialogType.Connect && id">
    <span>Your ID</span>
    <span class="id">{{ id }}</span>
  </div>
  <button [disabled]="submitDisabled || disabled" (click)="submit()">{{ submitLabel }}</button>
</footer>