@import '../../../styles/utils';

:host {
  display: flex;
  flex-direction: column;
  background-color: color(gray-dark);
  border-radius: 3px;
  gap: rem(20px);
  width: 100%;
  max-width: 500px;
  user-select: none;
}

header {
  padding: rem(13px) rem(20px);
  background-color: color(gray-medium);
  border-radius: 3px 3px 0 0;
  font-size: rem(20px);
}

footer {
  padding: rem(15px) rem(20px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 2px solid color(gray-medium);

  .id-label {
    display: flex;
    gap: rem(10px);
    font-size: rem(14px);
    font-weight: 500;

    .id {
      color: color(accent-blue);
      user-select: all;
    }
  }
}

footer.with-label {
  justify-content: space-between;
}

section {
  display: flex;
  padding: 0 rem(20px);
  gap: rem(10px);
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: rem(5px);
  width: 100%;

  &.small {
    flex-basis: 0;
  }
}